<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Cadastro</h1>

    <form method="POST" action="/produtos/criar">
        <input type="text" name="nomeProduto" id="">
        <input type="number" name="precoProduto" id="">
        <button type="submit">Enviar</button>
    </form>
</body>
</html>